@{
    ViewData["Title"] = "Information";
}

<div class="container mt-5">
    <div class="alert alert-success text-center" role="alert">
        @ViewBag.Message
    </div>
    <div class="text-center mt-3">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login</a>
    </div>
</div>
